<section class="user-section">
<%= render @user %>
<article class="comments">
<%@user.posts.each do |post| %>
    <%= render post %>
<%end%>
</article>

 <%= link_to "new", new_user_post_path(@user.id), class: 'post-btn' %> 
</section>
