@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: white;
  color: black;
}

a {
  color: #007bff;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container h2 {
  text-align: center;
}

.user-details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.user-image img {
  margin-right: 1rem;
  width: 8em;
  height: 8em;
  border: 2px solid black;
}

.user-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 17em;
  border: 2px solid black;
  height: 5em;
  padding: 0 0.5em 0 0.5em;
}

.user-post p {
  margin: 4em 0.5em 0 0;
  font-size: 0.75em;
}

/* show user profile styles */
.user {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 5em;
}

.user-bio,
.post,
.users-comments {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-bottom: 1rem;
}

.post-comments-likes {
  align-self: flex-end;
  margin: 0 0.5em 0.5em 0;
  font-size: 0.8em;
}

.user-bio h3,
.post h3 {
  margin: 0.5em 0 0 0.5em;
}

.user-bio p,
.post p {
  margin: 0.3em 0 0.5em 0.5em;
}

.button {
  padding: 15px 30px;
  background-color: #777;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  cursor: pointer;
  align-self: center;
  margin: 1rem 0 2rem 0;
}

.button:hover {
  background-color: #333;
}

/* user posts page */

.user-posts {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 2rem;
}

.empty-message {
  color: red;
  font-weight: bold;
  text-align: center;
}

#content h2 {
  text-align: center;
}
