<p>Welcome <%= @user.email %>!</p>

<p>Please click the link below to confirm your email:</p>

<p><%= link_to 'Confirm my account', user_confirmation_url(confirmation_token: @user.confirmation_token) %></p>
